.body {
    background-color: bisque;
}

.heading {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-heading {
    text-align: center;
    font-size: 56px;
}

.chapter-heading {
    font-size: 44px;
}

.sub-heading {
    font-weight: normal;
    font-size: 36px;
}

.txt, .link {
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    font-style: italic;
}

.dev-info {
    text-align: right;
}