* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.txt {
    font-family: "Geist", sans-serif;
}

.link {
    font-style: italic;
}

.heading {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.main-heading {
    text-align: center;
    font-size: 56px;
    margin-bottom: 20px;
}

.chapter-heading {
    font-size: 44px;
}

.sub-heading {
    font-weight: normal;
    font-size: 36px;
}

.body {
    min-height: 100vh;
    background-color: bisque;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.main-container {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: lightgray;
}

.main-container:last-child {
    margin: 0;
}

/* MAIN HEADER */

.main-header {
    position: sticky;
    top: 0;
}

.main-nav {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.main-nav-item {
}

.main-nav-item:hover {
    color: red;
}

.main-nav-item:active {
    color: rgb(0, 94, 255);
}

.main-nav-item:last-child {
    margin-bottom: 0;
}

/* MAIN */

.main {
    flex-grow: 1;
}

.img-float {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* MAIN FOOTER */

.main-footer {
    /* margin: 0; */
}

.dev-info {
    text-align: right;
}