* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.txt {
    font-family: "Geist", sans-serif;
}

.link {
    font-style: italic;
}

.heading {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.main-heading {
    text-align: center;
    font-size: 56px;
    margin-bottom: 20px;
}

.chapter-heading {
    font-size: 44px;
}

.sub-heading {
    font-weight: normal;
    font-size: 36px;
}

.body {
    background-color: bisque;
    padding: 30px;
}

.main-container {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: lightgray;
}

/* MAIN HEADER */

.main-header {
    position: sticky;
    top: 0;
}

.main-nav {
}

.main-nav-item {
    display: block;
}

/* MAIN */

.main {
}

.img-float {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* MAIN FOOTER */

.main-footer {
    margin: 0;
}

.dev-info {
    text-align: right;
}